* {  
   box-sizing: border-box; 
} 

html{
  padding:0;
  margin:0;
  font-family: 'Raleway';
}

.accordion{
  transition: all 1s;
}

ul{
  list-style-type: none;
}

.panel {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
}

#menuDrop{
  width: 100%;
  margin-left: 0;
}

body{
display:flex;
flex-direction:row;
width: 100%;
transition: all 1s;
}

#map{
  display: flex;
  height: 100%;
  flex-basis: 80%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

#sidebar{
  position: fixed;
  width: 40%;
  height: 100%;
  left: -40%;
  flex-basis: 20%;
  z-index: 1;
}

#sidebar h1{
 text-align: center;
}
 
#sidebar.active{
  left:0px;
}

#sidebar .toggle-btn span:first-child{
  width: 30px;
  height: 5px;
  transform: rotate(45deg);
  z-index: 1;
}

#sidebar .toggle-btn span{
  background-color:black;
  display: table;
  margin-top: 70%;
}

#sidebar .toggle-btn span:last-child{
  width: 30px;
  height: 5px;
  margin-top: 14px;
  transform: rotate(135deg);
  z-index: 1;
}

#circle {
  height: 90px;
  width: 46px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  background-color: white;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -55px;
  z-index: 2;
}

#circle:hover{
  cursor: pointer;
}

#sidebar .toggle-btn:hover{
  cursor: pointer;
}

#searchBar{
  min-height: 7%;
  max-height: auto;
  background-color: #0D3B66;
  color: #fff;
  position: relative;
  width: 100%;
  padding: 4px;
}

#searchBar h2{
  margin-top: 0;
  margin-bottom: 0;
  padding: 4px;
}

#searchResults{
  background-color: #F4D45E;
  position: relative;
  width: 100%;
  margin: 0;
  top: auto;
  z-index: 1;
  padding: 4px;
}

#histogram{
  position: relative;
  width: 100%;
  background-color: #F95738;
  z-index: 1;
  padding: 4px;
}

#histogram h2, #searchResults h2{
  width: 100%;
  margin: 0px;
  padding: 4px;
}

#searchResults h3{
  padding: 4px;
  margin: 0px;
}

#histogram h2:hover, #searchResults h2:hover{
    cursor: pointer;
}

input[type=search] {
    height: 35px;
    width: 30%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 0;
}

input[type=search]:focus {
    width: 100%;
}

#polyIDtable{
  width: auto;
  height: 100%;
  background-color: #0D3B66;
  color: #fff;
}

#polyIDtable td{
  border-bottom: 2px solid white;
  padding: 4px;
}

#polyIDtable tr:first-child td {
  width: 100%;
  margin: 0;
  font-size: 125%;
  padding: 10px;
}

#polyIDtable tr:last-child td {
  width: 100%;
  margin: 0;
  border-style: none;
}


#mainSideBarContent{
  overflow-y: scroll;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#loadingScreen{
  background-color: transparent;
  top:50%;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;
  position: absolute;
  display: block;
  z-index: 4;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#loadingScreen img{
  width: auto;
  height: auto;
  margin: auto;
}